# 1. Print the calculated value for the area of the triangle by getting the height and base input from users

In [2]:
h = int(input('Enter height:'))
b = int(input('Enter base:'))
a= h*b//2
print('Area of the triangle is:',a)

Enter height:12
Enter base:5
Area of the triangle is: 30

# 2. Write a python program to print the reverse string of 'Introduction to informatics!'

In [1]:
x = 'Introduction to informatics!'
y = x[-1:-len(x)-1:-1]
print(y)

!scitamrofni ot noitcudortnI

# 3. Find the highest two-digit number and lowest three-digit number from the list [22, 99, 76, 72, 442, 42, 590, 893, 4, 8, 83]

In [4]:
lst = [22, 99, 76, 72, 442, 42, 590, 893, 4, 8, 83]
lhig = []
for i in lst:
    if i<=99:
        lhig.append(i)
print('Highest two-digit number:','',max(lhig))
llow = []
for i in lst:
    if i>=100:
        llow.append(i)
print('Lowest three-digit number:','',min(llow))

Highest two-digit number:  99
Lowest three-digit number:  442

# 4. Write a python program to print the numbers that are divisible by 5 or 11 between 20 & 77 both included

In [1]:
x = 78
for i in range (20,x):
    if i%5==0 or i%11==0:
        print(i)

20
22
25
30
33
35
40
44
45
50
55
60
65
66
70
75
77

# 5. Write a python program to get 3 numbers from the user using a comma-separated input. Check if each number fall between 110 and 290 and print the appropriate message

In [5]:
n = input('Enter three numbers').split(',')
for i in n:
    i = int(i)
    if i >= 110 and i <=290:
        print('Number falls between 110 and 290')
    else:
        print('Number does not fall between 110 and 290')

Enter three numbers22,150,300
Number does not fall between 110 and 290
Number falls between 110 and 290
Number does not fall between 110 and 290

# 6. Get input from the user and print the multiple of that number from 1 to 15

In [3]:
num = int(input('Enter a number:'))
for i in range (1,16):
    print(str(num) + '*' + str(i) + '=' + str(num*i))

Enter a number:12
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
12*11=132
12*12=144
12*13=156
12*14=168
12*15=180

# 7. Write a python program to output a number that is divisible by 6 and is as close to 74 as possible using exhaustive enumeration.

In [4]:
givennum = 74
for i in range (74,6,-1):
    if i%6==0:
        print(i)
        break

72

# 8. Write a python function that sorts the number in the given list in ascending order without using a built-in function. The output should print the sorted list. Write additional statements that call this function and pass the list [3, 6, 1, 33, 8, 93, 2, 4, 6, 4].

In [7]:
 def my_lst(lst):
    x = len(lst)
    for i in range(x):
        for j in range(i+1,x):
            if lst[i]>lst[j]:
                lst[i],lst[j]=lst[j],lst[i]
lst = [3, 6, 1, 33, 8, 93, 2, 4, 6, 4]
my_lst(lst)
print(lst)

[1, 2, 3, 4, 4, 6, 6, 8, 33, 93]

# 9. Create a list with the values â€“ (2 points)
#'IUPUI', 'Bloomington', 'Cincinnati', 'Harvard', 'Stanford', 'illinois', 'Duke'

#Print the second item in the tuple
#Find the index of 'Cincinnati' in list.

In [6]:
mylst = ['IUPUI','Bloomington','Cincinnati','Harvard','Stanford','illinois','Duke']
print(mylst)
print(mylst[1])
ind = mylst.index('Cincinnati')
print(ind)

['IUPUI', 'Bloomington', 'Cincinnati', 'Harvard', 'Stanford', 'illinois', 'Duke']
Bloomington
2