# 1. Calculate the following using the python standard libraries (2 points)
1. Mean of the list [3,4,2,5,3,5,3,7,6,4]
2. The Square Root of 81
3. Return the Log value of 20
4. Print the Sine value of 30

In [2]:
import math
import statistics

x = statistics.mean([3,4,2,5,3,5,3,7,6,4])
print(x)

y = math.sqrt(81)
print(y)

z = math.log(20)
print(z)

s = math.sin(30)
print(s)

4.2
9.0
2.995732273553991
-0.9880316240928618

# 2. Download the given file (file.txt  Download file.txt), upload it to Jupyterhub, and write a python program to read the file and add two new lines student name and grade into the file by taking input from the user. Now print the contents of the updated file. (2 points)

In [26]:
filename = open ('file.txt', 'a')
sname = input ('Enter student name:')
grade = input ('Enter student grade:')
filename.write(f"\n{sname}\n{grade}")
filename.close()

Enter student name:Sreya
Enter student grade:A

In [19]:
filename = open ('file.txt', 'r')
print(filename.read())
filename.close()

Sreya
A

# 3. Create a tuple with values - "My", 1, "Python", "Program" and print the first two elements using the for loop (2 points)

In [24]:
x = ("My", 1, "Python", "Program") 
for i in range(2):
    print(x[i])

My
1

# 4. Write a python program to create the dictionary 'Apple': 25, 'Orange': 40, 'Grapes':60, 'Mango':20, 'Tomato':8 and do the following. (3 points)
1. Print all the keys  and values
2. Add "Strawberry": 23 to the dictionary
3. Update the value of Orange to 32
4. Print sum of all the values
5. Get the value for the key Grapes

In [31]:
dic = {'Apple': 25, 'Orange': 40, 'Grapes':60, 'Mango':20, 'Tomato':8 }
x = dic.keys()
print(x)
y = dic.values()
print(y)

dic['Strawberry'] = 23
print(dic)

dic.update({'Orange':32})
print(dic)

s= sum(dic.values())
print(s)

g = dic.get('Grapes')
print(g)

dict_keys(['Apple', 'Orange', 'Grapes', 'Mango', 'Tomato'])
dict_values([25, 40, 60, 20, 8])
{'Apple': 25, 'Orange': 40, 'Grapes': 60, 'Mango': 20, 'Tomato': 8, 'Strawberry': 23}
{'Apple': 25, 'Orange': 32, 'Grapes': 60, 'Mango': 20, 'Tomato': 8, 'Strawberry': 23}
168
60

# 5. Using list comprehension, create a list of numbers that are divisible by 3 and has 6 in them (eg: 36, 66) between the range of 10 to 500 (2 points)

In [1]:
lst = [i for i in range(10,501) if (i%3==0) and ('6' in str(i))]
print (lst)

[36, 60, 63, 66, 69, 96, 126, 156, 162, 165, 168, 186, 216, 246, 261, 264, 267, 276, 306, 336, 360, 363, 366, 369, 396, 426, 456, 462, 465, 468, 486]

# 6. Write a python function that takes an input from the user and iterates through the string and removes the duplicate characters from it and creates another string using these duplicate characters and returns both the strings. Now, write a python program to call this function and pass the string. (3 points)

In [53]:
 def string(a):
        orig_list = []
        for i in a:
            if i not in orig_list:
                orig_list.append(i)
                a = a.replace(i, '', 1)
                
        str1 = "" 
        for j in orig_list: 
            str1 += j 

        return a, str1
a = input('Enter any string:')
dup, orig = string(a)
print('Duplicate string: ', dup)
print('Original string without duplicates: ', orig)

Enter any string:abcdefaabb
Duplicate string:  aabb
Original string without duplicates:  abcdef

# 7. Write a python program that finds the cube root (approximate solution) of 210 using bisection search. (2 points)

In [34]:
x = 210
epsilon = 0.01
low = 0.0
high = max(1,x)
ans = (high+low)/2.0
while abs(ans**3-x)>=epsilon:
    print(ans)
    if ans**3>x:
        high = ans
    else:
        low = ans
    ans = (high+low)/2
print(ans, 'Is the closest cuberoot of', x)

105.0
52.5
26.25
13.125
6.5625
3.28125
4.921875
5.7421875
6.15234375
5.947265625
5.8447265625
5.89599609375
5.921630859375
5.9344482421875
5.94085693359375
5.944061279296875
5.9424591064453125
5.943260192871094
5.943660736083984
5.94386100769043 Is the closest cuberoot of 210

# 8. Write a python program to insert 98.9 into an ascending ordered sorted list [187,3,44,23,65.3,50,325,33.4,52.5,98,95] using exhaustive enumeration (3 points)

In [39]:
def mylist(lst):
    x = len(lst)
    for i in range(x):
        for j in range(i+1,x):
            if lst[i]>lst[j]:
                lst[i],lst[j]=lst[j],lst[i]
lst = [187,3,44,23,65.3,50,325,33.4,52.5,98,95]
mylist(lst)
print(lst)
lst.append(98.9)
print(lst)
mylist(lst)
print(lst)

[3, 23, 33.4, 44, 50, 52.5, 65.3, 95, 98, 187, 325]
[3, 23, 33.4, 44, 50, 52.5, 65.3, 95, 98, 187, 325, 98.9]
[3, 23, 33.4, 44, 50, 52.5, 65.3, 95, 98, 98.9, 187, 325]

# 9. Create a list list1= [1,3,4,5] and create 2 lists using the deep and shallow copy of list1. Find the object and value equality of all the 3 lists. (1 point)

In [33]:
list1 = [1,3,4,5]
import copy
list2 = copy.deepcopy(list1)
list3 = copy.copy(list1)
print('list1',"",list1,'list2',"",list2,'list3',"",list3)
print ('Value equality is:',list1==list2==list3)
print ('Object equality is:',id(list1)==id(list2)==id(list3))

list1  [1, 3, 4, 5] list2  [1, 3, 4, 5] list3  [1, 3, 4, 5]
Value equality is: True
Object equality is: False